.card {
/*
For the card:
- Make the card width 350px
- Make the card minimum height 150px
- Add solid orange border of 2px 
- Add round corners with border radius 
- Use 10 px margins
- Add box shadow for a more dynamic look
- Add 0.2s transition speed for hover animation
*/

  width: 350px;
  height: 150px;
  border-color: 2px;
  border-radius: 0cqi;
  margin: 10px;
  box-shadow: 0cqi;
  transition:cubic-bezier(1, 0, 0, 1);

}

/*
For the content inside the card:
- Add some margin to the top!
*/
.cardContent {
  border: 2px; 
}
/*
Bonus: Enlarge the card when you hover over it!
*/